In [121]:
import pandas as pd
import numpy as np
import re

In [20]:
# dataframe.expanding()
# The method works similiar to cummulative calculation
# df = pd.DataFrame(np.random.randint(0,10,size=(100,1)), columns=list('A'))
df = pd.DataFrame({'A':[x for x in range(20)], 'B':[x*x for x in range(20)]})

In [19]:
df.expanding(min_periods=1, axis=1).sum()

       A      B
0    0.0    0.0
1    1.0    2.0
2    2.0    6.0
3    3.0   12.0
4    4.0   20.0
5    5.0   30.0
6    6.0   42.0
7    7.0   56.0
8    8.0   72.0
9    9.0   90.0
10  10.0  110.0
11  11.0  132.0
12  12.0  156.0
13  13.0  182.0
14  14.0  210.0
15  15.0  240.0
16  16.0  272.0
17  17.0  306.0
18  18.0  342.0
19  19.0  380.0

In [23]:
# dataframe.rolling()
df_rolling = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]},
                  index = [pd.Timestamp('20130101 09:00:00'),
                           pd.Timestamp('20130101 09:00:02'),
                           pd.Timestamp('20130101 09:00:03'),
                           pd.Timestamp('20130101 09:00:05'),
                           pd.Timestamp('20130101 09:00:06')])

In [28]:
df_rolling.rolling('2s', min_periods=2).sum()

                       B
2013-01-01 09:00:00  NaN
2013-01-01 09:00:02  NaN
2013-01-01 09:00:03  3.0
2013-01-01 09:00:05  NaN
2013-01-01 09:00:06  NaN

In [3]:
df_apply = pd.DataFrame({'All Date Consistent':['Consistent','Not Consistent','Consistent','Not Consistent'],
'For Ingest':['Y','Y','N','N']})

In [7]:

def ingest_reason(df):
    if df['All Date Consistent'] == 'Consistent' and df['For Ingest'] == 'Y':
        return 'Ingest: True Consistent'
    elif df['All Date Consistent'] == 'Not Consistent' and df['For Ingest'] == 'Y' and df['exists_both']='both':
        return 'Ingest: Business Consistent'
    elif df['All Date Consistent'] == 'Not Consistent' and df['For Ingest'] == 'N' and df['exists_both']='left':
        return 'No Ingest: Tehcnical Lead Review'
    else:
        return 'No Ingest: Single Reviewer'

In [8]:
df_apply['Ingest Reason'] = df_apply.apply(ingest_reason, axis=1)
df_apply

  All Date Consistent For Ingest                     Ingest Reason
0          Consistent          Y           Ingest: True Consistent
1      Not Consistent          Y       Ingest: Business Consistent
2          Consistent          N        No Ingest: Single Reviewer
3      Not Consistent          N  No Ingest: Tehcnical Lead Review

In [1]:
df_check_null = pd.DataFrame({'A':[1,np.nan,3]})

NameError: name 'pd' is not defined

In [11]:
df_test = pd.DataFrame({'derive_s_date':['2020/01/01','2020/01/01'],
          'derive_e_date':['2020/02/01','2020/02/01'],
          'soa':['2020/01/10','2020/03/01'],
          'roa':['2020/01/15','2020/04/01']}, dtype='datetime64[ns]')

In [10]:
df_test_null['A'] = df_test_null['A'].str.strip()

In [12]:
import os

In [13]:
df_test

  derive_s_date derive_e_date        soa        roa
0    2020-01-01    2020-02-01 2020-01-10 2020-01-15
1    2020-01-01    2020-02-01 1990-01-01 1990-01-01

In [69]:
df_test_null = pd.read_excel('test_null.xlsx', dtype=object)
# df_test_null = pd.read_excel('test_null.xlsx')

In [23]:
def convert(col):
    df[col] = df.apply(lambda x:x[col] if (x['derive_s_date'] < x[col])&(x['derive_e_date']>x[col]) else pd.to_datetime('1990/01/01'), axis=1)
    return df

In [25]:
for col in ['soa','roa']:
    df_test[col] = df_test.apply(lambda x:x[col] if (x['derive_s_date'] < x[col])&(x['derive_e_date']>x[col]) else pd.to_datetime('1990/01/01'), axis=1)

In [31]:
dt_string = now.strftime("%Y_%m_%d_%H%M%S")
print(f'{dt_string}: {type(dt_string)}')

total 112
-rw-r--r--@ 1 chenxuanrong  staff   1.0K Feb 20 09:42 LICENSE
-rw-r--r--@ 1 chenxuanrong  staff   1.3K Feb 24 22:52 ds.md
-rw-r--r--@ 1 chenxuanrong  staff   496B Feb 20 09:42 git.md
-rw-r--r--@ 1 chenxuanrong  staff   353B Feb 23 13:51 golang.md
-rw-r--r--@ 1 chenxuanrong  staff   354B Feb 20 09:42 network.md
-rw-r--r--@ 1 chenxuanrong  staff   1.2K Mar  6 16:32 pandas_snippet.md
-rw-r--r--@ 1 chenxuanrong  staff    15K Mar  6 16:35 pandas_tips_playground.ipynb
-rw-r--r--@ 1 chenxuanrong  staff   216B Feb 26 15:47 property.md
-rw-r--r--@ 1 chenxuanrong  staff   2.1K Mar  6 16:33 python.md
drwxr-xr-x@ 4 chenxuanrong  staff   128B Feb 20 09:42 slides
-rw-r--r--@ 1 chenxuanrong  staff   278B Feb 20 09:42 sql_tricks.md
-rw-r--r--@ 1 chenxuanrong  staff   2.1K Feb 20 09:42 test_knowledge.md

In [61]:
max_file_name = max([len(file) for file in os.listdir()])+5

for file in os.listdir():
    file_size = os.path.getsize(file)/1024
    print(f'{file:<{max_file_name}}: {file_size:.2f} KB')

sql_tricks.md                    : 0.27 KB
golang.md                        : 0.34 KB
ds.md                            : 1.26 KB
network.md                       : 0.35 KB
python.md                        : 2.15 KB
LICENSE                          : 1.05 KB
pandas_snippet.md                : 1.23 KB
pandas_tips_playground.ipynb     : 18.15 KB
slides                           : 0.12 KB
property.md                      : 0.21 KB
git.md                           : 0.48 KB
.ipynb_checkpoints               : 0.09 KB
.git                             : 0.41 KB
test_knowledge.md                : 2.09 KB