In [121]:
import pandas as pd
import numpy as np
import re

In [20]:
# dataframe.expanding()
# The method works similiar to cummulative calculation
# df = pd.DataFrame(np.random.randint(0,10,size=(100,1)), columns=list('A'))
df = pd.DataFrame({'A':[x for x in range(20)], 'B':[x*x for x in range(20)]})

In [19]:
df.expanding(min_periods=1, axis=1).sum()

       A      B
0    0.0    0.0
1    1.0    2.0
2    2.0    6.0
3    3.0   12.0
4    4.0   20.0
5    5.0   30.0
6    6.0   42.0
7    7.0   56.0
8    8.0   72.0
9    9.0   90.0
10  10.0  110.0
11  11.0  132.0
12  12.0  156.0
13  13.0  182.0
14  14.0  210.0
15  15.0  240.0
16  16.0  272.0
17  17.0  306.0
18  18.0  342.0
19  19.0  380.0

In [23]:
# dataframe.rolling()
df_rolling = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]},
                  index = [pd.Timestamp('20130101 09:00:00'),
                           pd.Timestamp('20130101 09:00:02'),
                           pd.Timestamp('20130101 09:00:03'),
                           pd.Timestamp('20130101 09:00:05'),
                           pd.Timestamp('20130101 09:00:06')])

In [28]:
df_rolling.rolling('2s', min_periods=2).sum()

                       B
2013-01-01 09:00:00  NaN
2013-01-01 09:00:02  NaN
2013-01-01 09:00:03  3.0
2013-01-01 09:00:05  NaN
2013-01-01 09:00:06  NaN

In [3]:
df_apply = pd.DataFrame({'All Date Consistent':['Consistent','Not Consistent','Consistent','Not Consistent'],
'For Ingest':['Y','Y','N','N']})

In [7]:

def ingest_reason(df):
    if df['All Date Consistent'] == 'Consistent' and df['For Ingest'] == 'Y':
        return 'Ingest: True Consistent'
    elif df['All Date Consistent'] == 'Not Consistent' and df['For Ingest'] == 'Y' and df['exists_both']='both':
        return 'Ingest: Business Consistent'
    elif df['All Date Consistent'] == 'Not Consistent' and df['For Ingest'] == 'N' and df['exists_both']='left':
        return 'No Ingest: Tehcnical Lead Review'
    else:
        return 'No Ingest: Single Reviewer'

In [8]:
df_apply['Ingest Reason'] = df_apply.apply(ingest_reason, axis=1)
df_apply

  All Date Consistent For Ingest                     Ingest Reason
0          Consistent          Y           Ingest: True Consistent
1      Not Consistent          Y       Ingest: Business Consistent
2          Consistent          N        No Ingest: Single Reviewer
3      Not Consistent          N  No Ingest: Tehcnical Lead Review

In [1]:
df_check_null = pd.DataFrame({'A':[1,np.nan,3]})

NameError: name 'pd' is not defined

In [9]:
df_test_null = pd.DataFrame({'A':['a','b ','NULL']})

In [10]:
df_test_null['A'] = df_test_null['A'].str.strip()

In [12]:
import os

In [13]:
os.getcwd()

'c:\\Users\\L131107\\Downloads\\tech_notes'

In [69]:
df_test_null = pd.read_excel('test_null.xlsx', dtype=object)
# df_test_null = pd.read_excel('test_null.xlsx')

In [70]:
df_test_null.dtypes

Batch                                                    object
Allocated to                                             object
Date Allocated                                           object
EGID                                                     object
EntityGroupName                                          object
Adviser Salary ID                                        object
Client Address                                           object
Client Name                                              object
CISKeys                                                  object
Priority                                                 object
Client Name Match                                        object
SOA Found                                                object
Date of SOA Document                             datetime64[ns]
SOA Document Type                                        object
SOA Document Title                                       object
ROA Found                                                object
BT Open ROA                                              object
Date of ROA Document                             datetime64[ns]
ROA Document Type                                        object
ROA Document Title                                       object
Detailed Review File Note Found                          object
Date of Last Review as evidenced in File Note    datetime64[ns]
File Note Document Type                                  object
File Note Document Title                                 object
ATP Found                                                object
Date of the Referenced Plan                      datetime64[ns]
Date of Execution (Authority To Proceed)         datetime64[ns]
ATP Document Type                                        object
ATP Document Title                                       object
Neo SET Assessor Salary ID                               object
Assessor Date Checked                            datetime64[ns]
Comments                                                 object
dtype: object

In [68]:
# it will break when applying str method on column with float type
try:
    df_test_null['EntityGroupName'] = df_test_null['EntityGroupName'].str.strip()
except AttributeError:
    print('Column type not right')

Column type not right

In [71]:
df_test_null.EntityGroupName.unique()

array([nan], dtype=object)

In [65]:
df_test_null.EntityGroupName.head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: EntityGroupName, dtype: float64

In [87]:
df_test_2 = pd.read_excel('test_F015819.xlsx', dtypes=object)

In [88]:
df_test_2.EntityGroupName = df_test_2.EntityGroupName.fillna('').head()

In [89]:
df_test_2.dtypes

Batch                                             object
Allocated to                                      object
Date Allocated                                    object
EGID                                              object
EntityGroupName                                   object
Adviser Salary ID                                 object
Client Address                                    object
Client Name                                       object
CISKeys                                           object
Priority                                          object
Client Name Match                                float64
SOA Found                                        float64
Date of SOA Document                             float64
SOA Document Type                                float64
SOA Document Title                               float64
ROA Found                                        float64
BT Open ROA                                      float64
Date of ROA Document                             float64
ROA Document Type                                float64
ROA Document Title                               float64
Detailed Review File Note Found                  float64
Date of Last Review as evidenced in File Note    float64
File Note Document Type                          float64
File Note Document Title                         float64
ATP Found                                        float64
Date of the Referenced Plan                      float64
Date of Execution (Authority To Proceed)         float64
ATP Document Type                                float64
ATP Document Title                               float64
Neo SET Assessor Salary ID                       float64
Assessor Date Checked                            float64
Comments                                         float64
dtype: object

In [90]:
df_test_2['EntityGroupName'] = df_test_2['EntityGroupName'].str.strip()

In [94]:
from datetime import datetime

In [98]:
now = datetime.now()

In [102]:
dt_string = now.strftime("%Y_%m_%d_%H%M%S")
print(f'{dt_string}: {type(dt_string)}')

2020_03_11_163632: <class 'str'>

In [11]:
t1 = pd.to_datetime('1/30/2015 01:00')
t2 = pd.to_datetime('1/1/2015 03:30')

print(t1.month)
print(pd.Timedelta(t1 - t2).days)

1
28

In [133]:
from random import randrange
from datetime import timedelta

df = pd.DataFrame([pd.date_range(start='2018-01-01', end='2019-01-01', freq='2M'), pd.date_range(start='2019-01-01', end='2020-01-01', freq='2M')], columns=list('abcdef'), )
all_dates = dict(zip(list('abcdefgh'), pd.date_range(start='2018-01-01', end='2019-01-01', freq='2M')))

In [116]:
df

           a          b          c          d          e          f
0 2018-01-31 2018-03-31 2018-05-31 2018-07-31 2018-09-30 2018-11-30
1 2019-01-31 2019-03-31 2019-05-31 2019-07-31 2019-09-30 2019-11-30

In [135]:
max_date_arry = []
max_date_doc_arry = []
next_max_date_arry = []
next_max_date_doc_arry = []
cols = [x for x in df.columns.tolist() if re.match(r'\w', x)]
for i in df.index:
    date_dict = df.loc[i, cols].to_dict()
    dlr = sorted(date_dict.items(), key=lambda x:x[1])[-1]
    max_date, max_date_doc = dlr[1], dlr[0]
    

    available_date = list(filter(lambda x: pd.Timedelta(max_date - x[1]).days >= 90, date_dict.items()))
    
    try:
        next_dlr = sorted(available_date, key=lambda x: x[1])[-1]
        next_max_date, next_max_date_doc = next_dlr[1], next_dlr[0]
    except IndexError:
        next_max_date, next_max_date_doc = '',''

    max_date_arry.append(max_date)
    max_date_doc_arry.append(max_date_doc)
    next_max_date_arry.append(next_max_date)
    next_max_date_doc_arry.append(next_max_date_doc)

df=df.assign(max_date=max_date_arry,
max_date_doc=max_date_doc_arry,
next_max_date=next_max_date_arry,
next_max_date_doc=next_max_date_doc_arry)

df

,a,b,c,d,e,f,max_date,max_date_doc,next_max_date,next_max_date_doc
0,2018-01-31,2018-03-31,2018-05-31,2018-07-31,2018-09-30,2018-11-30,2018-11-30,f,2018-07-31,d
1,2019-01-31,2019-03-31,2019-05-31,2019-07-31,2019-09-30,2019-11-30,2019-11-30,f,2019-07-31,d

In [52]:
dlr = sorted(all_dates.items(), key=lambda item:item[1])[-1]
max_date = dlr[1]
print(dlr)
print(dlr[0])
print(dlr[1])

('f', Timestamp('2018-11-30 00:00:00', freq='2M'))
f
2018-11-30 00:00:00

In [59]:
for k,v in all_dates.items():
    if pd.Timedelta(max_date - v).days >= 90:
        print(k, v)
        # print(k, v)

a 2018-01-31 00:00:00
b 2018-03-31 00:00:00
c 2018-05-31 00:00:00
d 2018-07-31 00:00:00

In [68]:
available_dates = list(filter(lambda item: pd.Timedelta(max_date - item[1]).days >= 90, all_dates.items()))
dlr2 = sorted(available_dates, key=lambda item:item[1])[-1]
next_dlr = dlr2[1].strftime("%d/%m/%Y")
print(f'next dlr: {next_dlr} from {dlr2[0]}')

next dlr: 31/07/2018 from d